body{
    background-color: beige url('img/boat.png') no-repeat center fixed;
    background-size: 1000px;
    font-family: fantasy;
}


p{
    color:blueviolet;
    background-color: brown;
    font-weight: 300;
    font-family: monospace;
}
.allah-rules{
    color:blueviolet;
    background-color: blanchedalmond;
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 80px;
    padding: 80px;
}