body{
    background-color: beige url('img/boat.png') no-repeat center fixed;
    background-size: 1000px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


p{
    color:rgb(0, 0, 0);
    background-color: brown;
    font-weight: 300;
    font-family: monospace;
}
.allah-rules{
    color:rgb(0, 0, 0);
    background-color: black;
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 80px;
    padding: 80px;
}